@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #4B7CCC, #77F2FF)
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #000000;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FF8658;
    text-align: center;
    text-shadow: 1px 1px 0px #ac5b3cb7;
}

h2 {
    color: #FF8658;
}